
body{
  display: grid;
  grid-template-rows: 21vh 78vh;
  background:  rgba(180, 178, 178, 0.274);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 2vw;
}

.game-field {
  background-color: orange;
  margin: 5px;
  line-height: 10vh;
}

.game-field:not(.target):not(.miss):active{
  background-color: black;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

#btn{
  background-color: aquamarine;
  color: blueviolet;
  font-size: 5rem;
  width: 20rem;
  height: 10rem;
  overflow: auto;
}